# Ignorar ambiente virtual
venv/

# Ignorar banco de dados SQLite
db.sqlite3

# Ignorar scripts locais
gerenciar.py

# Ignorar arquivos temporários do Python
__pycache__/
*.pyc
*.pyo

# Ignorar arquivos de sistema
.DS_Store
